/* Sidebar style when open */
.sidebar.open {
    left: 0; /* Sidebar fully visible */
    transition: left 0.3s ease-in-out;
}

/* Sidebar style when closed */
.sidebar.close {
    left: -250px; /* Sidebar hidden */
    transition: left 0.3s ease-in-out;
}

#category-menu {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff; /* Or your desired background color */
    z-index: 1000; /* Ensure it's on top of other content */
    overflow-y: scroll;
}
#toggleBtn
{
    border: none;
    background-color: transparent;
}
#category-menu .card-body a
{
    text-decoration: none;
    color: black;
}